.home__container{
    display:grid;
    width:100%;
    grid-template-rows: 0.5fr 1fr 1.9fr 1.9fr 1.9fr 2fr 2fr 0.5fr 4fr 1.5fr 1.5fr 1fr 1fr;
}
.home__section--icon img{
   margin-top:20px;
   margin-left: 2.5%;
    width: 70px;
    height: 70px;
}
.home__section--intro{
    display:grid;
    margin-top: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 80px;
}

.section__intro--col-1{
  margin-top:50px;
  margin-left: 20px;
  margin-bottom: 100px;

}
.section__intro--content>p{
    justify-content: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 90px;
    justify-content: flex-start;
    font-size: 20px;
    margin-right: 150px;
    margin-bottom: 100px;
}


ul {
    list-style-type: none;
    margin: 30px;
    padding: 0;
  }

ul li{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:20px;
    text-decoration: underline;
    text-decoration-color: lightgrey;
}


.home__section--featured-media>iframe{
    margin-top:100px;
    margin-bottom:100px;
    width: 100%;
    height: 100%;
    position: absolute;
}
 

.home__section--casestudy>img{
  height: 100%;
  width:100%;
  position: absolute;
  object-fit: cover;
  
}
/*<div class="card">
                    <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
                    <h1>Tailored Jeans</h1>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <p><button>Add to Cart</button></p>
                  </div>
*/
/*.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 40px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  */
  .home__section--articles{
      margin-top:50px;
      justify-items: center;
      display:grid;
      grid-auto-flow: row;
      grid-template-columns: 0.5fr 1fr 1fr 0.5fr ;
      grid-template-rows: 1fr 1fr;
  }
  .section--articles-article{
      margin-right: 100px;
      justify-content: center;
  }

  .home__section--services{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top:50px;
      justify-content: center;
  }
 .home__section--services>h2{
      padding: 30px 30px 30px 30px;
      margin-left: 50px;
 }
 .section--services--heading{
     margin-top: 40px;
    margin-left: 100px;
 }
 .home__section--services-info{
     display:grid;
     grid-template-columns: 100px 2fr 2fr 100px;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     grid-auto-flow: row;

 }
 .services-info-col-left{
     margin-top:50px;
 }
 .services-info-col-left>img{
     height:300px;
     width:400px;
     float:right;
 }
 .services-info-col-right{
  margin-top:50px;
 }
 .home__section--about{
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-top: 100px;
     margin-left: 100px;
     margin-bottom: 100px;

 }
 .home__section--career{
     width: 100vw;
     display: grid;
     grid-template-columns: 2fr 1fr;
     /* grid-auto-flow: row; */

 }
 .section__career-col-1-heading{
     margin-top: 200px;
     margin-right: 100px;
 }
 
 .section__career-col-2-links{
     margin-top:200px;
     margin-left:100px;
 }

 .home__section-submit-form{
     width:100vp;
     display: grid;
     grid-template-columns: 2fr 1fr;
 }
 .section-form-group{
     margin-top: 100px;
 }
 .form-group-control{
     width:300px;
 }
 .home__section--contact-us{
     display: grid;
     grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
     margin-top:100px;

 }
 
 
  
/*  
<div class="tile-vertical ">
    
<span id="_5cfeb7450c4f9" class="link ">
      <a href="https://www.wrayward.com/articles/water-designs-our-life-can-that-story-be-told-in-a-single-day"
       rel="" title="View Article" target="_self" class="link__action ">
              
       <img src="https://www.wrayward.com/uploads/images/blog/WW-Blog-Moen-Mantauk-Thumb-2.jpg" 
       alt="Water designs our life. Can that story be told in a single day?">
    </a>
</span> 

<div class="tile-vertical__info">
        <h4>Photography / Mar 21, 2019</h4>
          
    <span id="_5cfeb7450cd0e" class="link ">
          <a href="https://www.wrayward.com/articles/water-designs-our-life-can-that-story-be-told-in-a-single-day"
           rel="" title="View Article" target="_self" class="link__action ">
            <h3>Water designs our life. Can that story be told in a single day?</h3>
          </a>
    </span>
        <div class="tile-vertical__info__link-cont">

           <span id="_5cfeb7450d169" class="link link--style">
          <a href="https://www.wrayward.com/articles/water-designs-our-life-can-that-story-be-told-in-a-single-day" 
          rel="" title="View Article" target="_self" class="link__action ">
          View Article
          </a>
          </span>
        </div>
</div>
<div>  */
/*
<h3>Featured Openings</h3>
                        <ul>
                            <li>
                                    <a href="https://www.wrayward.com/careers/senior-designer" rel="" title="Senior Designer" target="_self" class="link__action ">
                                        Senior Designer
                                    </a>
                            </li>
                            <li>
                                    <a href="https://www.wrayward.com/careers/search-manager" rel="" title="Search Manager" target="_self" class="link__action ">
                                        Search Manager
                                    </a>
                            </li>
                            <li>
                                    <a href="https://www.wrayward.com/careers/form-internship" rel="" title="FORM Internship" target="_self" class="link__action ">
                                        FORM Internship
                                    </a>
                            </li>
                        </ul>*/